body {
    font-family: "Source Sans 3", serif;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.background-div {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    width: 100vw;
    height: 100vh;
}

.blur {
    width: 100vw;
    height: 100vh;
    margin: auto;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-box {
    background-color: #00000071;
    backdrop-filter: blur(2px);
    border-radius: 4rem;
    padding: 2rem;
    margin: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;

    border-style: solid;
    border-width: 1px;
    border-color: #00000048;
}

/* ty https://stackoverflow.com/a/19795361 (shadows) */

.brown {
    color: #7B3F00;
    font-weight: bold;

    -webkit-filter: drop-shadow(3px 3px 3px #7B3F00b7);
    filter: drop-shadow(3px 3px 3px #7b4000b7);
}

.blue {
    color: #45bce0;
    font-weight: bold;

    -webkit-filter: drop-shadow(3px 3px 3px #6acbe986);
    filter: drop-shadow(3px 3px 3px #6acbe986);
}

button {
    padding: 2.5rem 0 2.5rem 0;
    background-color: #00000000;
    border: none;
    cursor: pointer;

    z-index: 10;
}

img {
    width: 18rem;

    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));

    transition: transform 1000ms ease-in-out;
}

img:hover {
    transform: scale(2) rotate(-15deg);
}

/* Snowflake css from https://codepen.io/iautomation/pen/VYexBz tysm <3 */

.snowflakes {
    position: absolute; top: -90px; left: 0;
}

i, i:after, i:before { background: white; }
i {
    display: inline-block;
    -webkit-animation: snowflakes 3s linear 2s 20;
    -moz-animation: snowflakes 3s linear 2s 20;
    animation: snowflakes 3s linear 2s 20;
    position: relative;
}
i:after, i:before {
    height: 100%;
    width: 100%;
    content: ".";
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
}
i:before { 
    -webkit-transform: rotate(240deg); 
    transform: rotate(240deg); 
}

@-webkit-keyframes snowflakes {
    0% {
        -webkit-transform: translate3d(0,0,0) rotate(0deg) scale(0.6);
    }
    100% {
        -webkit-transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);
    }
}

@keyframes snowflakes {
    0% {
        -webkit-transform: translate3d(0,0,0) rotate(0deg) scale(0.6);
    }
    100% {
        -webkit-transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);
    }
}

.snowflakes i:nth-child(3n) {
    width: 16px; height: 4px;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: 30;
    animation-iteration-count: 30;
    -webkit-transform-origin: right -45px;
    transform-origin: right -45px;
}

.snowflakes i:nth-child(3n+1) {
    width: 24px; height: 6px;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: 45;
    animation-iteration-count: 45;
    -webkit-transform-origin: right -30px;
    transform-origin: right -30px;
}

.snowflakes i:nth-child(3n+2) {
    width: 32px; height: 8px;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-iteration-count: 60;
    animation-iteration-count: 60;
    -webkit-transform-origin: right -15px;
    transform-origin: right -15px;
}

/* different delays so they don't all start at the same time */

.snowflakes i:nth-child(7n) {
    opacity:.3;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function:ease-in;
    animation-delay: 0s;
    animation-timing-function:ease-in;
}

.snowflakes i:nth-child(7n+1) {
    opacity:.4;
    -webkit-animation-delay: 1s;
    -webkit-animation-timing-function:ease-out;
    animation-delay: 1s;
    animation-timing-function:ease-out;
}

.snowflakes i:nth-child(7n+2) {
    opacity:.5;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-timing-function:linear;
    animation-delay: 1.5s;
    animation-timing-function:linear;
}

.snowflakes i:nth-child(7n+3) {
    opacity:.6;
    -webkit-animation-delay: 2s;
    -webkit-animation-timing-function:ease-in;
    animation-delay: 2s;
    animation-timing-function:ease-in;
}

.snowflakes i:nth-child(7n+4) {
    opacity:.7;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-timing-function:linear;
    animation-delay: 2.5s;
    animation-timing-function:linear;
}

.snowflakes i:nth-child(7n+5) {
    opacity:.8;
    -webkit-animation-delay: 3s;
    -webkit-animation-timing-function:ease-out;
    animation-delay: 3s;
    animation-timing-function:ease-out;
}

.snowflakes i:nth-child(7n+6) {
    opacity:.9;
    -webkit-animation-delay: 3.5s;
    -webkit-animation-timing-function:ease-in;
    animation-delay: 3.5s;
    animation-timing-function:ease-in;
}
